.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.report-list {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.report-box {
    width: 963px;
    height: 121px;
    background: #FFFFFF;
    border: 1px solid black;
    margin-bottom: 20px;
}

.report-move-button {
    background-color: #7BD3EA;
    width: 111px;
    height: 36px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 800px;
}

.report-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -30px;
    margin-right: 500px;
}

.report-reason {
}

.report-accept {
    background-color: #5F7DE9;
    width: 111px;
    height: 36px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.report-and-accept-reject-button {
    display: flex;
    gap: 40px;
}

.report-reject {
    background-color: #FF6868;
    width: 111px;
    height: 36px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

/* 모달 오버레이 스타일 */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* 모달 창 스타일 */
.feedback-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 330px;
    background: #F6F7C4;
    border: 1px solid black;
    z-index: 1001;
}

/* 모달 창 내부 글 스타일 */
.feedback-contents {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}