<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/admin-page.css">
    <title>관리자 페이지</title>
</head>

<header class="main-header" th:fragment="top">
    <img class="logo" src="/image/small-logo.png" alt="공통 헤더 작은 로고 사진" onclick="location.href='/'">
    <div class="header-contents">
        <div class="move-button" onclick="location.href='/intro'">사용 방법</div>
        <div class="LoggedIn" th:if="${isLoggedIn}">
            <div class="my-button" onclick="location.href='/my-page'">내 정보</div>
            <div class="logout-button" id="logout-button">로그아웃</div>
        </div>
        <div class="LoggedIn" th:if="${!isLoggedIn}">
            <div class="join-button" onclick="location.href='/join'">회원가입</div>
            <div class="login-button" onclick="location.href='/login'">로그인</div>
        </div>
    </div>
</header>

<body class="body">
<p class="report-list">신고 유저 목록</p>
<div class="report-and-accept-reject-button" th:each="report : ${reportList}">
    <div class="report-box">
        <button class="report-move-button"
                th:attr="data-report-reportedComments=${report.getReportedComments()}"
                onclick="openFeedbackModal(this)">
            확인
        </button>
        <div class="report-text" th:text="'신고할 유저: ' + ${report.getReportedNickname()}">신고할 유저: </div>
        <div class="report-reason" th:text="'신고 사유: ' + ${report.reportReason}">신고 사유: 포스트잇만 받기 위해서 의미없는 . 댓글을 남겼습니다.</div>
    </div>
    <div class="buttons">
        <button class="report-accept" onclick="acceptReport(this)" th:data-report-id="${report.getId()}">신고 수락</button>
        <button class="report-reject" onclick="rejectReport(this)" th:data-report-id="${report.getId()}">신고 거절</button>
    </div>
</div>
</body>

<!-- 피드백 내용 확인 모달창 -->
<div class="modal-overlay" id="modal-overlay" onclick="closeFeedbackModal()"></div>
<div class="feedback-box" id="feedback-box">
    <div class="feedback-contents" id="feedback-contents">
        내용
    </div>
</div>

<script src="/js/admin-page.js"></script>
<script src="/fragment/nav.js"></script>
</html>