<!DOCTYPE html>
<html lang="en">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/intro.css">
    <title>인트로 페이지</title>
</head>
<body>
<div class="contents">
    <div class="center">
        <img src="../static/image/big-logo.png" alt="인트로 페이지 큰 로고 사진">
    </div>
    <div class="bottom">
        <div class="left">
            <img src="../static/image/intro-image.png" alt="인트로 페이지 왼쪽 사진">
        </div>
        <div class="right">
            <p class="intro-comment">트잇에 오신 것을 환영합니다!</p>
            <div class="intro-comment-div">
                <div class="intro-comment-div-talk">
                    내 작고 소중한 프로젝트.. 어떻게 사용자를 모으지?<br>
                    프로젝트에 대한 조언을 얻고 싶은데 주변에 개발자가 없어..<br>
                    다른 사람들이 만든 프로젝트가 궁금해!<br><br>
                </div>
                이런 고민들, 해보신 적 있나요?<br><br>
                트잇은 다른 사람들의 프로젝트를 보고 포스트잇을 붙이듯이<br>
                자유롭게 피드백을 나누는 목적을 가진 사이트입니다.
            </div>
        </div>
    </div>
</div>
<div class="contents">
    <div class="box">
        <hr class="hr">
        <p class="how-to-use">트잇 사용 방법</p>
        <hr class="hr">
        <div class="number-text">
            <p>1. 다른 유저의 서비스를 직접 사용해보고 피드백을 붙여주세요.</p>
            <p>2. 포스트잇을 모아 나의 서비스도 자랑하세요.</p>
        </div>
        <hr class="hr">
        <p class="notice-text">
            주의! 단순히 포스트잇을 모으기 위해 대충 남긴 피드백은 검수 후 삭제됩니다.<br>
            반드시 서비스 실제 사용 후 정성스러운 피드백 부탁드려요.
        </p>
        <button class="start" onclick="location.href='main.html'">시작하기!</button>
    </div>
</div>
</body>
</html>