<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/my-page.css">
    <title>내 정보 페이지</title>
</head>

<header class="main-header" th:fragment="top">
    <img class="logo" src="/image/small-logo.png" alt="공통 헤더 작은 로고 사진" onclick=location.href='main.html'>
    <div class="header-contents">
        <div class="move-button" onclick=location.href='intro.html'>사용 방법</div>

        <div class="move-button" onclick=location.href='my-page.html'>내 정보</div>
        <div class="logout-button">로그아웃</div>
        <!--        <div>회원가입</div>-->
        <!--        <div>로그인</div>-->
    </div>
</header>

<body class="body">
    <div class="box">
        <div class="hello-text">000님 안녕하세요!</div>
        <div class="user-icon-data">
            <img class="user-icon" src="/image/mypage-user-icon.png" alt="마이페이지 유저 아이콘">
<!--            form-->
            <div id="" action="" method="post">
                <div class="id">아이디 : userId</div>
                <div class="nickname-and-change">
                    <button class="nickname-change-button">닉네임 변경</button>
                    <input type="text" class="input-nickname" name="nickname" placeholder="닉네임을 입력해주세요.">
                    <button class="nickname-check">중복확인</button>
                    <button class="nickname-done">완료</button>
                </div>
                <div class="password-and-change">
                    <button class="password-change-button">비밀번호 변경</button>
                    <input type="text" class="input-password" name="password" placeholder="비밀번호를 입력해주세요.">
                    <button class="nickname-done">완료</button>
                </div>
            </div>
        </div>
    </div>
    <button class="move-to-admin-page">관리자 회원관리 페이지로 이동</button>
    <hr class="hr">
    <div class="image-and-text">
        <img class="glass" src="/image/glass.png" alt="마이페이지 구슬">
        <div class="glass-data">
            <div class="all-postIt">전체 20개</div>
            <div class="available-postIt">사용 가능 10개</div>
            <div class="changed-post">교환 글 1개</div>
            <div class="change-text">포스트잇 10개당 글 1개 교환 가능</div>
        </div>
    </div>
    <hr class="hr">
    <div class="posts">
        <div class="my-uploads">
            <div class="my-upload-text">내가 올린 글</div>
            <div class="my-upload-box">
                <button class="my-upload-move-button">이동</button>
                <div class="my-upload-title">
                    이건 프로젝트입니다. 입니다 입니다
                </div>
                <div class="my-upload-description">
                    이건 한줄소개 입니다. 입니다입니다입니다
                </div>
            </div>
            <div class="my-upload-box">
                <button class="my-upload-move-button">이동</button>
                <div class="my-upload-title">
                    이건 프로젝트입니다. 입니다 입니다
                </div>
                <div class="my-upload-description">
                    이건 한줄소개 입니다. 입니다입니다입니다
                </div>
            </div>
            <div class="my-upload-box">
                <button class="my-upload-move-button">이동</button>
                <div class="my-upload-title">
                    이건 프로젝트입니다. 입니다 입니다
                </div>
                <div class="my-upload-description">
                    이건 한줄소개 입니다. 입니다입니다입니다
                </div>
            </div>
            <div class="my-upload-box">
                <button class="my-upload-move-button">이동</button>
                <div class="my-upload-title">
                    이건 프로젝트입니다. 입니다 입니다
                </div>
                <div class="my-upload-description">
                    이건 한줄소개 입니다. 입니다입니다입니다
                </div>
            </div>
        </div>
        <div class="my-feedbacks">
            <div class="my-feedback-text">내가 피드백한 글</div>
            <div class="my-feedback-box">
                <button class="my-feedback-move-button">이동</button>
                <div class="my-feedback-title">
                    동물 게시판 프로젝트 공유합니다.
                </div>
                <div class="my-feedback-description">
                    간단한 CRUD만 구현해서 만들어봤습니다. 처음 만들어서 많이 부족하니 피드백 부탁드려요!
                </div>
            </div>
            <div class="my-feedback-box">
                <button class="my-feedback-move-button">이동</button>
                <div class="my-feedback-title">
                    제목
                </div>
                <div class="my-feedback-description">
                    한줄소개 내용 내용내용내용내용내용내용내용내용내용
                </div>
            </div>
            <div class="my-feedback-box">
                <button class="my-feedback-move-button">이동</button>
                <div class="my-feedback-title">
                    동물 게시판 프로젝트 공유합니다.
                </div>
                <div class="my-feedback-description">
                    간단한 CRUD만 구현해서 만들어봤습니다. 처음 만들어서 많이 부족하니 피드백 부탁드려요!
                </div>
            </div>
            <div class="my-feedback-box">
                <button class="my-feedback-move-button">이동</button>
                <div class="my-feedback-title">
                    동물 게시판 프로젝트 공유합니다.
                </div>
                <div class="my-feedback-description">
                    간단한 CRUD만 구현해서 만들어봤습니다. 처음 만들어서 많이 부족하니 피드백 부탁드려요!
                </div>
            </div>
            <div class="my-feedback-box">
                <button class="my-feedback-move-button">이동</button>
                <div class="my-feedback-title">
                    동물 게시판 프로젝트 공유합니다.
                </div>
                <div class="my-feedback-description">
                    간단한 CRUD만 구현해서 만들어봤습니다. 처음 만들어서 많이 부족하니 피드백 부탁드려요!
                </div>
            </div>
            <div class="my-feedback-box">
                <button class="my-feedback-move-button">이동</button>
                <div class="my-feedback-title">
                    동물 게시판 프로젝트 공유합니다.
                </div>
                <div class="my-feedback-description">
                    간단한 CRUD만 구현해서 만들어봤습니다. 처음 만들어서 많이 부족하니 피드백 부탁드려요!
                </div>
            </div>
        </div>
        <div class="my-scraps">
            <div class="my-scrap-text">내가 스크랩한 글</div>
            <div class="my-scrap-box">
                <button class="my-scrap-move-button">이동</button>
                <div class="my-scrap-title">
                    동물 게시판 프로젝트 공유합니다.
                </div>
                <div class="my-scrap-description">
                    간단한 CRUD만 구현해서 만들어봤습니다. 처음 만들어서 많이 부족하니 피드백 부탁드려요!
                </div>
            </div>

        </div>

    </div>


</body>
</html>