.main-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.header-contents {
    display: flex;
    justify-content: center;
    margin-left: 1000px;
    gap: 20px;
}

.move-button {
    cursor: pointer;
}

.LoggedIn {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
